/* This code remove margins from page 
and makes the body to take all the height available
in the page */
html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 2em;
    background-color: rgb(46, 45, 45);
    color: white;
}

.turn-and-winner {
    display: flex;
    justify-content: center;

}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    font-size: 3.5rem;
    background-color: aliceblue;
}

.child:hover {
    background-color: antiquewhite;
}

.restart-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#restart {
    padding: 20px 30px;
    border-radius: 25px;
    border: none;
    font-size: 1.5rem;
    background-color: rgb(44, 46, 46);
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
}

.f-container a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}