/* This code remove margins from page 
and makes the body to take all the height available
in the page */
html, body {
    height: 100%;
    margin: 0;
}



#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 70px);
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.child {
    border: 1px solid;
    width: 90px;
    height: 70px;
}